.button {
  display: block;
  border: none;
  width: 100%;
  padding: 9px 0;
  color: $font-color-black;
  background-color: $bg-white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.75;
  }

  @include set-font-size(600, 14px, 21px);
}
