.form {
  color: $font-color-white;
  background-color: $bg-navy-blue;
}

.form__fieldset {
  border: none;
  padding: 45px 47px;
}

.form__field {
  margin-bottom: 20px;
}

.form__text {
  margin: 0 0 26px;
  transform: translateY(45px);

  @include set-font-size(500, 18px, 27px);
}

.form__field input {
  position: relative;
  width: 100%;
  padding: 14px 16px 11px;
  background-color: $bg-white;
  border: none;
  border-radius: 0;
}

.form__checkbox-label {
  position: relative;
  padding: 2px 0 2px 24px;
  cursor: pointer;

  &::before {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $bg-white;

    @include set-img-size(18px, 18px);
    @include pseudo();
  }

  @include set-font-size(400, 10px, 13px);
}

.form__checkbox-block {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.form__checkbox-block input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;

  &:checked + .form__checkbox-label::after {
    top: calc(50% - 2px);
    left: 4px;
    background-color: transparent;
    width: 10px;
    border-bottom: 1px solid $font-color-black;
    height: 6px;
    border-left: 1px solid $font-color-black;
    transform: translateY(-50%) rotate(-45deg);

    @include pseudo();
  }

  &:focus + .form__checkbox-label::before {
    outline: $bg-navy-blue auto 5px;
  }
}

.form__field input::placeholder {
  color: $bg-navy-blue;

  @include set-font-size(400, 14px, 21px);
}

.form__field--last {
  margin-bottom: 21px;
}

form button {
  display: block;
  border: none;
  width: 100%;
  padding: 12px 0;
  color: $font-color-black;
  background-color: $bg-white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.75;
  }

  @include set-font-size(600, 14px, 21px);
}

@media (max-width: $tablet-width-max) {
  .form__fieldset {
    padding: 45px 48px 48px;
  }

  .form__checkbox-block {
    margin-bottom: 28px;
  }
}

@media (max-width: $mobile-width-max) {
  .form__fieldset {
    border: none;
    padding: 35px 29px;
  }

  .form__text {
    transform: translateY(35px);
    text-align: center;

    @include set-font-size(500, 18px, 25px);
  }

  .form__field--last {
    margin-bottom: 18px;
  }

  .form__checkbox-block {
    width: 180px;
    margin-bottom: 23px;
  }

  .form__checkbox-label {
    padding: 2px 0 2px 29px;
  }
}
