.header {
  flex: 1 0 auto;
  padding-top: 35px;
}

.header__image::before {
  background: url("../img/intro@desktop.jpg") no-repeat center center;
  background-size: cover;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @include set-img-size(100%, 650px);
  @include pseudo();
}

@media (max-width: $tablet-width-max) {
  .header {
    padding-top: 20px;
  }

  .header__image::before {
    background: url("../img/intro@tablet.jpg") no-repeat center center;
    background-size: cover;

    @include set-img-size(100%, 638px);
  }
}
