.intro {
  padding-bottom: 70px;
  min-height: 500px;
}

.intro__image::before {
  background: $bg-dark-blue url("../img/intro@desktop.jpg") no-repeat bottom center;
  background-size: cover;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @include set-img-size(100%, 650px);
  @include pseudo();
}

.intro__wrap {
  padding: 0 95px;
}

.intro__title,
.intro__text {
  color: $font-color-white;

  @include reset-to-zero();
}

.intro__title {
  margin-bottom: 12px;

  @include set-font-size(700, 54px, 66px);
}

.intro__text {
  @include set-font-size(400, 20px, 24px);
}

@media (max-width: $tablet-width-max) {
  .intro {
    min-height: 380px;
  }

  .intro__image::before {
    background: $bg-dark-blue url("../img/intro@tablet.jpg") no-repeat bottom center;
    background-size: cover;

    @include set-img-size(100%, 638px);
  }

  .intro__wrap {
    padding-left: 5px;
    padding-right: 5px;
  }

  .intro__title {
    margin-bottom: 13px;

    @include set-font-size(700, 50px, 61px);
  }

  .intro__text {
    @include set-font-size(400, 18px, 22px);
  }
}

@media (max-width: $mobile-width-max) {
  .intro {
    min-height: 325px;
  }

  .main--closed .intro {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main--opened .intro,
  .main--nojs .intro {
    position: relative;
    min-height: 500px;
    padding-top: 175px;
  }

  .intro__wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .intro__image::before {
    background: $bg-dark-blue url("../img/intro@tablet.jpg") no-repeat bottom center;
    background-size: cover;

    @include set-img-size(100%, 568px);
  }

  .intro__title {
    margin-bottom: 12px;

    @include set-font-size(700, 36px, 45px);
  }

  .intro__text {
    width: 230px;

    @include set-font-size(400, 16px, 22px);
  }
}
