.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  @include reset-to-zero();
  @include list-style-none();
}

.nav__item {
  padding-top: 6px;
  padding-bottom: 10px;

  &:not(:last-child) {
    margin-right: 34px;
  }
}

.nav__link {
  color: $font-color-white;

  @include set-font-size(500, 16px, 20px);
}

.nav__link:not(.nav__link--active) {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.nav__logo {
  width: 70px;
  margin-right: 40px;

  @include set-img-size(70px, 38px);
}

.nav__pict {
  @include set-img-size(70px, 38px);
}

@media (max-width: $tablet-width-max) {
  .nav__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  .nav__link {
    @include set-font-size(500, 14px, 17px);
  }

  .nav__logo {
    @include set-img-size(38px, 20px);
  }

  .nav__pict {
    @include set-img-size(38px, 20px);
  }
}

@media (max-width: $mobile-width-max) {
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__logo {
    margin-top: 4px;

    @include set-img-size(42px, 22px);
  }

  .nav__link {
    color: $font-color-white;

    @include set-font-size(500, 18px, 22px);
  }

  .nav__toggle {
    position: relative;
    border: none;
    background-color: transparent;

    @include set-img-size(35px, 30px);
    cursor: pointer;
    margin-right: -5px;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    align-items: flex-start;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .nav__pict {
    @include set-img-size(42px, 22px);
  }
}

@media (min-width: $mobile-width-max) {
  .nav__toggle {
    display: none;
  }
}
