.reserve {
  position: relative;
  padding: 46px 0 55px;

  &::before {
    background: $bg-light-blue url("../img/iceberg@1x-desktop.jpg") no-repeat bottom center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    @include pseudo();
  }
}

.reserve__br {
  display: none;
}

.reserve__title {
  margin: 0 0 8px;

  @include set-font-size(700, 40px, 60px);
}

.reserve__text {
  margin: 0;
  width: 380px;

  @include set-font-size(400, 18px, 27px);
}

.reserve__form {
  width: 403px;
}

.reserve__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.reserve__box {
  padding-right: 35px;
}

@media (max-width: $tablet-width-max) {
  .reserve {
    padding: 88px 0 100px;

    &::before {
      background: $bg-light-blue url("../img/iceberg@1x-tablet.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  .reserve__box {
    padding: 0;
    margin: 0 auto;
  }

  .reserve__inner {
    flex-direction: column;
  }

  .reserve__title {
    margin: 0 0 5px;
    text-align: center;

    @include set-font-size(700, 34px, 51px);
  }

  .reserve__text {
    width: auto;
    text-align: center;
    padding: 0 90px;
    margin-bottom: 53px;

    @include set-font-size(400, 18px, 27px);
  }
}

@media (max-width: $mobile-width-max) {
  .reserve {
    padding: 58px 0 70px;

    &::before {
      background: $bg-light-blue url("../img/iceberg@1x-mobile.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  .reserve__form {
    width: auto;
    max-width: 380px;
  }

  .reserve__title {
    margin: 0 0 15px;

    @include set-font-size(700, 24px, 31px);
  }

  .reserve__inner {
    padding: 0;
  }

  .reserve__text {
    padding: 0;
    margin-bottom: 33px;

    @include set-font-size(400, 16px, 22px);
  }

  .reserve__br {
    display: block;
  }
}
