$font-main: "Montserrat", "Arial", sans-serif;

$bg-white: #f9fbfd;
$bg-light-blue: #cfe1ef;
$bg-dark-blue: #004c88;
$bg-navy-blue: #011c40;
$font-color-black: #011c40;
$font-color-white: #f9fbfd;

$desktop-max-width: 1240px;
$tablet-min-width: 767px;
$tablet-width-max: 1023px;
$mobile-width-max: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
